@charset "ISO-8859-1";

.answers {
	margin-left:150px;
	border-style:none;
}

.answers1 {
	margin-bottom:20px;
	border-style:none;
}

.answers2 {
	margin-left:100px;
	border-style:none;
}



.answers3 {
	margin-left:270px;
	border-style:none;
}

.answers4 {
	margin-left:165px;
	border-style:none;
}

.answers5 {
	margin-left:245px;
	border-style:none;
}

.answers6  {
	margin-left:275px;
	border-style:none;
}

.answers7 {
	margin-left:105px;
	border-style:none;
}

.answers8 {
	margin-left:195px;
	border-style:none;
}

.answers9 {
	margin-left:100px;
	border-style:none;
}

h3 {
	font-family:arial;
}

h4 {
	font-family:arial;
}

h5 {
	font-family:arial;
}

.button {
	background-color: white;
	color:black;
	padding: 15px 32px;
}

.buttonstyle {
	width:150px;
	height:60px;
}

.ui-widget .ui-widget label {
	color:white;
	pointer-events:none;
}