@charset "ISO-8859-1";

.fragenStyle{
	
	
	 width:350px;
  	display: inline-block;
	
}

.answers {
	
	
	border-style:none;
	margin-right:auto;
	
}

.answers1 {
	margin-bottom:20px;
	border-style:none;
}

.answers2 {
	
	
	border-style:none;
	
}



.answers3 {
	
	border-style:none;
}

.answers3 {
	
	border-style:none;
}

.answers4 {
	
	border-style:none;
}

.answers5 {
	
	border-style:none;
}



.answers6  {
	margin-left:270px;
	margin-right:780px;
	border-style:none;
}

.answers7 {
	margin-left:140px;
	margin-right:780px;
	border-style:none;
}

.answers8 {
	margin-left:280px;
	margin-right:780px;
	border-style:none;
}

.answers9 {
	margin-left:95px;
	margin-right:780px;
	border-style:none;
}

h3 {
	font-family:arial;
}

h4 {
	font-family:arial;
}

h5 {
	font-family:arial;
}

.button {
	background-color: white;
	color:black;
	padding: 15px 32px;
}

.buttonstyle {
	width:150px;
	height:60px;
}


.ui-widget .ui-widget label {
	color:white;
	pointer-events:none;
	
	

}

	
@media only screen and (max-width: 700px) {
	
	.fragenStyle{
	width:250px;
  	display: inline-block;
  	color:red;
  	
	}
	

  .box { float: left; }
  header { height: 40px;}
  main { width: 100%; }
 
  #categories { width: 100%;}
  #content { width: 100%; }
}

/* Phone Portrait (420px) */
@media only screen and (max-width: 600px) {
	
	.fragenStyle{
	width:140px;
  	display: inline-block;
	}
  .box { float: left; }
  header { height: 40px;}
  main { width: 100%; }
 
  #categories { width: 100%;}
  #content { width: 100%; }
  

}

/* Phone Portrait (420px) */
@media only screen and (max-width: 420px) {
	
	.fragenStyle{
	width:140px;
  	display: inline-block;
	}
  .box { float: left; }
  header { height: 40px;}
  main { width: 100%; }
 
  #categories { width: 100%;}
  #content { width: 100%; }
}

@media only screen and (max-width: 375px) {
	
	.fragenStyle{
	width:140px;
  	display: inline-block;
	}
  .box { float: left; }
  header { height: 40px;}
  main { width: 100%; }
 
  #categories { width: 100%;}
  #content { width: 100%; }
}

#tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

#tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

#tooltip:hover .tooltiptext {
  visibility: visible;
}






